<nav class="navbar navbar-expand-lg navbar-dark custom-bg-color" id="main-nav">
	<div class="container">
	    <a class="navbar-brand d-flex align-items-center" href="{{ landingPage }}">
	        <img class="me-3" src="https://tdwg.github.io/chrono/assets/theme/images/tdwg-logo-short.svg" alt="{{  title }}">
            {{ title }}
	    </a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
			Menu <i class="fas fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbar-menu">
			<ul class="navbar-nav ms-auto">
				<li class="navbar-item">
					<a class="nav-link {{ 'nav-link-active' if slug == 'home' }}"
                       href="{{ url_for('home') }}">Home</a>
				</li>
				<li class="navbar-item">
					<a class="nav-link" href="{{ githubRepo }}">{{  acronym  }} GitHub</a>
				</li>
            </ul>
		</div>
	</div>
</nav>
