<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Test Layout</title>
	<link rel="icon" type="image/x-icon" href="https://tdwg.github.io/ltc/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Marck+Script&display=swap" rel="stylesheet">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        	<div class="content-header-wrapper">
	            <h1>{{ params['document_title'] }}</h1>
                <p><strong>Title</strong>: {{ params['document_title'] }}</p>
                 <p><strong>Date version issued</strong>: {{ params['ratification_date'] }}</p>
                 <p><strong>Date created</strong>: {{ params['created_date'] }}</p>
                 <p><strong>Part of TDWG Standard</strong>: {{ params['standard_iri'] }}</p>
                 <p><strong>This version</strong>: {{ params['current_iri'] }}{{ params['ratification_date'] }}</p>
                 <p><strong>Latest version</strong>: {{ params['current_iri'] }}</p>
                 <p><strong>Abstract</strong>: {{ params['abstract'] }}</p>
                 <p><strong>Contributors</strong>: {{ params['contributors'] }}</p>
                 <p><strong>Creator</strong>: {{ params['creator'] }}</p>
                <p><strong>Bibliographic citation</strong>: {{ params['creator'] }}. {{ params['year'] }}. {{ params['document_title'] }}. {{ params['publisher'] }}. {{ params['current_iri'] }}{{ params['ratification_date'] }}</p>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

</body>
</html>