<h1>{{ document_title }}</h1>

<p>Title 
: {{ document_title }}</p>

<p>Date version issued
: {{ ratification_date }}</p>

<p>Date created
: {{ created_date }}</p>

<p>Part of TDWG Standard
: &lt;{{ standard_iri }}&gt;</p>

<p>This version
: {{ current_iri }}{{ ratification_date }}</p>

<p>Latest version
: &lt;{{ current_iri }}&gt;</p>

<p>{{ previous_version_slot }}</p>

<p>Abstract
: {{ abstract }}</p>

<p>Contributors
: {{ contributors }}</p>

<p>Creator
: {{ creator }}</p>

<p>Bibliographic citation
: {{ creator }}. {{ year }}. {{ document_title }}. {{ publisher }}. {{ current_iri }}{{ ratification_date }}</p>

<h2>1 Introduction (Informative)</h2>

<p>This document contains terms that are part of the most recent version of the Darwin Core vocabulary (<http://rs.tdwg.org/version/dwc/{{ ratification_date }}&gt;).</p>

<p>This document includes terms in four namespaces that contain recommended terms: <code>dwc:</code>, <code>dwciri:</code>, <code>dc:</code>, and <code>dcterms:</code>. However, some terms in these namespaces are deprecated or superseded and should no longer be used. Deprecation or supersession is noted in the term metadata. Namespaces that contain only deprecated terms are not included in this document, but metadata about those terms can be retrieved by dereferencing their IRIs.</p>

<p>For a simplified list that contains only the currently recommended terms, see the <a href="../terms/">Darwin Core Quick Reference Guide</a>.</p>

<h3>1.1 Status of the content of this document</h3>

<p>Sections 1 and 3 are non-normative.</p>

<p>Section 2 is normative.</p>

<p>In Section 4, the values of the <code>Term IRI</code> and <code>Definition</code> are normative. The values of <code>Term Name</code> are non-normative, although one can expect that the namespace abbreviation prefix is one commonly used for the term namespace.  <code>Label</code> and the values of all other properties (such as <code>Examples</code> and <code>Notes</code>) are non-normative.</p>

<h3>1.2 RFC 2119 key words</h3>

<p>The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT", "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY", and "OPTIONAL" in this document are to be interpreted as described in <a href="https://www.rfc-editor.org/info/bcp14">BCP 14</a> <a href="https://datatracker.ietf.org/doc/html/rfc2119">[RFC 2119]</a> and <a href="https://datatracker.ietf.org/doc/html/rfc8174">[RFC 8174]</a> when, and only when, they appear in all capitals, as shown here.</p>

<h3>1.3 Namespace abbreviations</h3>

<p>The following namespace abbreviations are used in this document:</p>

<p>| abbreviation | IRI |
| --- | --- |
| dwc: | http://rs.tdwg.org/dwc/terms/ |
| dwciri: | http://rs.tdwg.org/dwc/iri/ |
| dc: | http://purl.org/dc/elements/1.1/ |
| dcterms: | http://purl.org/dc/terms/ |</p>

<h2>2 Use of Terms</h2>

<p>Due to the requirements of <a href="../rdf/#143-use-of-darwin-core-terms-in-rdf-normative">Section 1.4.3 of the Darwin Core RDF Guide</a>, terms in the <code>dwciri:</code> namespace MUST be used with IRI values. Terms in the <code>dwc:</code> and <code>dc:</code> namespaces are generally expected to have string literal values. Values for terms in the <code>dcterms:</code> namespace will depend on the details of the term. See <a href="../rdf/#3-term-reference-normative">Section 3 of the Darwin Core RDF Guide</a> for details.</p>

<h2>3 Term indices</h2>
