blinker==1.8.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
Frozen-Flask==1.0.2
itsdangerous==2.2.0
Jinja2==3.1.4
latex2mathml==3.77.0
Markdown==3.6
markdown2==2.5.0
MarkupSafe==2.1.5
numpy==2.0.0
pandas==2.2.2
Pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
six==1.16.0
svgwrite==1.4.3
tzdata==2024.1
wavedrom==2.0.3.post3
Werkzeug==3.0.3
