  {% if v['mapping_justification'] is number %}
            {% else %}
                 <table class="table table-condensed table-sssom table-child" data-toggle="table">
                    <thead>
                        <tr>
                            <th class="text-left" colspan="4">
                                <a href="#sssom{{ idx }}" data-bs-toggle="collapse" class="th-collapser">
                                    <span class="skos-th-label">
                                        SKOS Mappings
                                    </span>
                                    <i class="fa"></i>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="sssom{{ idx }}" class="collapse show">
                        <tr class="nested-thead-tr">
                            <th class="col-w-16">Mapping Property
                                <i class="fa fa-question-circle doc-help-tip" aria-hidden="true" data-bs-toggle="popover"
                                   data-bs-content="The label of the predicate/relation of the mapping.<br>
                                        IRI: <a href='https://w3id.org/sssom/predicate_label'>https://w3id.org/sssom/predicate_label</a>"
                                   data-bs-title="sssom:predicate_label <span class='poplink close');'>x</span>"></i>
                            </th>
                            <th class="col-w-25 popover-container">Object IRI
                              <i class="fa fa-question-circle doc-help-tip" aria-hidden="true" data-bs-toggle="popover"
                                   data-bs-content="The ID of the object of the mapping.<br>IRI: <a href='http://www.w3.org/2002/07/owl#annotatedTarget'>http://www.w3.org/2002/07/owl#annotatedTarget</a>"
                                   data-bs-title="sssom:object_id <span class='poplink close');'>x</span>"></i>
                            </th>
                            <th class="col-w-55 popover-container">Justification
                                <i class="fa fa-question-circle doc-help-tip" aria-hidden="true" data-bs-toggle="popover"
                                   data-bs-content="A mapping justification is an action (or the written representation of that action) of showing a mapping to be right or reasonable.<br>
                                    IRI: <a href='https://w3id.org/sssom/mapping_justification'>https://w3id.org/sssom/mapping_justification</a>"
                                   data-bs-title="sssom:mapping_justification <span class='poplink close');'>x</span>"></i>
                            </th>
                            <th class="col-w-4"></th>
                        </tr>
                        {%  for idx2,v2 in sssom.iterrows() %}
                            {%  if v2['informationElement_localName'] == v['informationElement_localName'] and v2['subject_category'] == v['mids_category'] %}
                                <tr class="accordion-toggle collapsed"
                                    id="accordion{{ idx }}"
                                    data-bs-toggle="collapse"
                                    data-bs-parent="#accordion{{ idx }}"
                                    href="#collapse{{ idx2 }}-{{ idx }}"
                                    aria-controls="collapse{{ idx2 }}-{{ idx }}">
                                    <td data-th="Mapping Property: "><a href="{{ v2.predicate_id }}">{{  v2.predicate_label }}</a></td>
                                    <td data-th="Object ID: ">{{ v2.object_id|urlize }}</td>
                                    <td data-th="Justification: ">{{ v2.mapping_justification }}</td>
                                    <td class="indicator-td"><i class="fa"></i> </td>
                                </tr>
                                <tr class="hide-table-padding">
                            <td colspan="4">
                                <table class="table table-sssom-nested mb-0 nested-table collapse" id="collapse{{  idx2 }}-{{ idx }}">
                                    <tbody>
                                        <tr>
                                            <th>Object Category
                                                 <i class="fa fa-question-circle doc-help-tip" aria-hidden="true" data-bs-toggle="popover"
                                                    data-bs-content="The conceptual category to which the subject belongs to. This can be a string denoting the category or a term from a controlled vocabulary.<br>
                                                    IRI: <a href='https://w3id.org/sssom/object_category'>https://w3id.org/sssom/object_category</a>"
                                                    data-bs-title="sssom:object_category <span class='poplink close');'>x</span>"></i>
                                            </th>
                                            <td>{{  v2['predicate_label'] }}</td>
                                        </tr>
                                        <tr>
                                            <th>Object Type
                                               <i class="fa fa-question-circle doc-help-tip" aria-hidden="true" data-bs-toggle="popover"
                                                data-bs-content="The type of entity that is being mapped.<br>
                                                IRI: <a href='https://w3id.org/sssom/object_type'>https://w3id.org/sssom/object_type</a>"
                                                data-bs-title="sssom:object_type <span class='poplink close');'>x</span>"></i>
                                            </th>
                                            <td>{{  v2['object_id'] }}</td>
                                        </tr>
                                        <tr>
                                            <th>Author</th>
                                            <td>{{  v2['author_label'] }}</td>
                                        </tr>
                                        <tr>
                                            <th>Author ID</th>
                                            <td>{{  v2['author_id']|urlize }}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="text-center"><a href="{{ url_for('docResources') }}#sssom-ref" class="text-center">SSSOM Specification</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                            {%  endif %}
                        {%  endfor %}
                    </tbody>
                </table>
            {% endif %}