<h2 id="5-vocabulary">5 Vocabulary</h2>
  {% for idx, v in terms.iterrows() %}
	<span id="{{ v['compound_name']|replace('.','_') }}"></span>
    <div class="term-table-wrapper">
        <div class="table-responsive print-avoid">
            <table class="table table-compact table-terms">
                <thead>
                    <tr>
                        <th colspan="2">Term Name
                        <span class="title">{{ v['term_ns_name'] }}</span></th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
							<th scope="row">Term IRI</th>
							<td>{{ v['term_iri']|urlize }}</td>
						</tr>

						<tr>
							<th scope="row">Label</th>
							<td>{{ v['label'] }}</td>
						</tr>
						<tr>
							<th scope="row">Definition</th>
							<td>{{ v['definition'] }}</td>
						</tr>

						{% if v['usage'] is number %}
						{% else %}
						<tr>
							<th scope="row">Usage</th>
							<td>{{ v['usage'] }}</td>
						</tr>
						{% endif %}

						{% if v['notes'] is number %}
						{% else %}
						<tr>
							<th scope="row">Notes</th>
							<td>{{ v['notes'] }}</td>
						</tr>

						{% endif %}


						{% if v['examples'] is number %}
						{% else %}
						{% set list1 = v['examples'].split('`, `') %}
						<tr>
							<th scope="row">Examples</th>
							<td>
								<ul class="td-list">
									{% for item in list1 %}
										<li><span>{{ item|replace("`","") }}</span></li>
									{% endfor %}
								</ul>

							</td>
						</tr>

						{% endif %}

						{% if v['datatype'] is number %}
						{% else %}
						<tr>
							<th scope="row">Datatype</th>
                            {% if v['datatype'] %}
							<td>{{ v['datatype'] }}</td>
                            {% else %}
                            <td>array< self ></td>
                            {%  endif %}
						</tr>
						{% endif %}

						{%  if(v['rdf_type'] == 'http://www.w3.org/1999/02/22-rdf-syntax-ns#Property') %}
                        <tr>
                            <th scope="row">Belongs to Class</th>
                            <td>{{ v['class_name'] }}</td>
                        </tr>
                        {%  endif %}

                        <tr>
							<th scope="row">Required</th>
							<td>{{ v['is_required'] }}</td>
						</tr>

                        <tr>
							<th scope="row">Repeatable</th>
							<td>{{ v['is_repeatable'] }}</td>
						</tr>

                        <tr>
							<th scope="row">RDF Type</th>
                            {%  if(v['rdf_type'] == 'http://www.w3.org/1999/02/22-rdf-syntax-ns#Property')  %}
                                <td class="property"><a href="{{ v['rdf_type'] }}">rdf:Property</a></td>
                            {%  else %}
                                <td class="class"><a href="{{ v['rdf_type'] }}">rdfs:Class</a></td>
                            {%  endif %}
						</tr>
				</tbody>
			</table>
            {% include 'includes/termlist/sssom-table.html' %}
        </div>
    </div>
{% endfor %}
