<h2 id="4-term-index">4 Information Element index</h2>

<h3 id="41-index-by-term-name">5 Index By Information Element</h3>

{% for v in informationElementsByLevel %}
        <div class="term-set-by-class-wrapper">
            <h5>{{ v.class }}</h5>
            <ul class="term-list list-1-col">
                {% for k in v.informationElementList %}
                    <li><a href="#{{ k[1]|replace('.','_') }}">{{ k[1] }}</a></li>
                {%  endfor %}
            </ul>
         </div>
{%  endfor %}



