<footer class="custom-bg-color">
	<div class="container">
        <div class="row">

            <div class="col-lg">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <img class="me-3 footer-logo" src="https://tdwg.github.io/chrono/assets/theme/images/tdwg-logo-short.svg" alt="Latimer Core">
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/tdwg/ltc">
                          <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.tdwg.org/feed.xml">
                          <span class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                    </li>
                </ul>

            </div>
            <div class="col-lg">
                <ul class="fa-ul float-end">
                    <li>
                        <i class="fa-li fa fa-chevron-circle-right"></i>
                        <a href="https://www.tdwg.org/">Biodiversity Information Standards (TDWG)</a>
                    </li>
                    <li>
                        <i class="fa-li fa fa-chevron-circle-right"></i>
                        <a href="https://www.tdwg.org/about/">What is TDWG?</a>
                    </li>
                    <li>
                        <i class="fa-li fa fa-chevron-circle-right"></i>
                        <a href="https://www.tdwg.org/about/contact/">Contact us</a>
                    </li>
                    <li>
                        <i class="fa-li fa fa-chevron-circle-right"></i>
                        <a href="https://www.tdwg.org/about/terms-of-use/#privacy-statement">Privacy policy</a>
                    </li>
                    <li>
                        <i class="fa-li fa fa-chevron-circle-right"></i>
                        <a href="https://www.tdwg.org/about/code-of-conduct/">Code of Conduct</a>
                    </li>
                    <li>
                        <i class="fa-li fa fa-chevron-circle-right"></i>
                        <a href="https://www.tdwg.org/about/diversity-inclusion/">Diversity and Inclusion Statement</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-10 position-relative mx-auto">
                <div class="small mt-2">
                    <p>Content on this site, made open by <a href="https://www.tdwg.org/">Biodiversity Information Standards (TDWG)</a>  is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>
                </div>
            </div>
        </div>
    </div>
</footer>


