<div class="diagrams-wrapper">
<h2 id="diagrams">Diagrams</h2>
    <h4>Class Diagrams</h4>
        <div class="diagram-wrapper">
    {% include 'includes/resources/diagrams/class-diagrams/ltc-green-class-diagram.html' %}
        </div>
    <div class="diagram-wrapper">
    {% include 'includes/resources/diagrams/class-diagrams/ltc-master-class-diagram.html' %}
</div>
    <h4>Entity-Relationship Diagrams</h4>
    <div class="diagram-wrapper">
        {% include 'includes/resources/diagrams/er-diagrams/ltc-blue-er-diagram.html' %}
    </div>
    <div class="diagram-wrapper">
    {% include 'includes/resources/diagrams/er-diagrams/ltc-green-er-diagram.html' %}
    </div>
    <div class="diagram-wrapper">
    {% include 'includes/resources/diagrams/er-diagrams/people-er-diagram.html' %}
    </div>
    <div class="diagram-wrapper">
    {% include 'includes/resources/diagrams/er-diagrams/ltc-red-dark-blue-er-diagram.html' %}
</div>
<p><em>Built with Mermaid.js</em></p>

</div>
