{% extends "base.html" %}
{% block main %}
<main class="ltc-content">
	<div class="container content">
		<div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <table>
                    <tbody>
                {% for k,v in terms.iterrows() %}
                        <tr>
                            <td colspan="2">{{ v['term_local_name'] }}</td>
                        </tr>
                        <tr>
                            <td><a href="http://www.w3.org/2004/02/skos/core#{{ v['skos_mappingRelation'] }}">skos:{{ v['skos_mappingRelation'] }}</a></td>
                            <td> {{ v['related_termName']|urlize }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}